.popup__content {
    display: flex;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    height: 330px;
    width: 430px;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .popup__content {
        height: 322px;
        width: 282px;
    }
}