.profile__info {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 18px;
    max-width: 336px;
    row-gap: 16px;
    align-self: center;
}

@media screen and (max-width: 854px) {
    .profile__info {
        width: 100%;
    }
}

@media screen and (max-width: 688px) {
    .profile__info {
        justify-content: center;
        column-gap: 10px;
        row-gap: 14px;
    }
}

@media screen and (max-width: 320px) {
    .profile__info {
        margin: 26px 0 0 25px;
    }
}