.profile__avatar-vector{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 26px;
    transform: translate(-50%, -50%);
    height: 26px;
    background-image: url("../../../images/Vector__avatar.png");
    background-size: cover;
    display:none;
    
}

